.navbar {
  background-color: #36393f;
}

.navbar a {
  color: lightblue;
}

body {
  background-color: #2f3136;
  color: gray;
}

.progress {
  width: 45rem;
  margin: auto;
}

.btn {
  background-color: lightblue;
  color: gray;
}